*{
    padding: 10px;
}

#logo-container {
    top: 0;
    left: 0;
    cursor: pointer;
    margin-left: -40px;
    margin-top: -40px;
}

body{
    padding: 15px;
    padding-top: 20px;
    background-color: whitesmoke;
    border: double 6px black;
}

.navigation-buttons{
    text-align: center;
    margin-bottom: 20px;
}

.navigation-buttons button{
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #3498db;
    color: #ffffff;
    border: solid 4px blue;
    cursor: pointer;
    transition: #3498db 0.3s, color 0.3s;
}

.navigation-buttons button:hover{
    background-color: #297fb8;
    box-shadow: 0 0 140px rgba(5, 208, 230, 0.5);
}

em{
    text-align: center;
    color: gray;
}

p{
    font-size: 19px;
}

h1{
    padding: 15px;
    font-size: 42px;
    text-align: center;
    display: block;
    background-color: rgb(144, 220, 245);
    color: royalblue;
    border: dashed 3px black;
}

.head{
    padding: 10px;
    text-align: center;
    display: block;
    background-color: lime;
    border: dashed 3px black;
}

.imgs{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gg{
    font-size: 20px;
}

a{
    color: blue;
    font-size: 20px;
}

a:hover{
    color: hotpink;
}

.vid{
    padding: 10px;
    text-align: center;
    display: block;
    background-color: pink;
    border: dashed 3px black;
}

.bottom-container {
    background-color: rgb(144, 220, 245);
    padding: 50px;
    text-align: center;
 }
 
 .contact-message {
    width: 40%;
    margin: 40px auto 60px;
    text-align: center;
    font-size: 30px;
 }
 
 
  
 .copyright {
    color: black;
    font-size: 15px;
    padding: 20px 0;

 }
 
 .btn {
    text-align: center;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
 }
  
 .btn:hover {
    text-align: center;
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
    
 }
 
 .btnsetting{
    text-align: center;
 }